@{
    ViewBag.Title = "MVC Oracle App";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Aplicação MVC baseada no modelo padrão do Visual Studio integrada com banco de dados Oracle.
    </p>

    <p>
        Biblioteca adicional utilizada nesse projeto: SimpleCrypto <a href="https://www.nuget.org/packages/SimpleCrypto/">Link para projeto</a>
    </p>
</article>

<aside>
    <h3>MVC Oracle CRUD</h3>
    <p>
        Scripts do banco de dados utilizado nesse projeto:
        <textarea rows="10" cols="40">
            @ViewBag.TextData
        </textarea>
    </p>
    <ul>
    </ul>
</aside>